
<h1>Lista de Categorias</h1>

<div class="contenedor" *ngFor="let cat of categorias">
    <div class="categorias">
        <p>{{ cat }}</p>
    </div>
</div>

<h1>Lista de Productos</h1>
<app-item 
    class="item" 
    *ngFor="let prod of productos" 
    [producto]="prod">
</app-item>



<!--div class="item" *ngFor="let prod of productos">
    <div class="imagen">
        <img src="https://st.depositphotos.com/1000128/2939/i/450/depositphotos_29394915-stock-photo-desktop-computer-with-touchscreen-interface.jpg" alt="">
    </div>
    <div class="detalle">
        <h1>{{ prod.titulo }}</h1>
        <p>{{ prod.detalle }}</p>
    </div>
</div-->
<!--router-outlet></router-outlet-->