
<h1>Lista de Categorias</h1>

<div class="contenedor" *ngFor="let cat of categorias">
    <div class="categorias">
        <p>{{ cat }}</p>
    </div>
</div>

<h1>Lista de Productos</h1>
<app-item 
    class="item" 
    *ngFor="let prod of productos" 
    [producto]="prod">
</app-item>



<!--div class="item" *ngFor="let prod of productos">
    <div class="imagen">
        <img src="https://st.depositphotos.com/1000128/2939/i/450/depositphotos_29394915-stock-photo-desktop-computer-with-touchscreen-interface.jpg" alt="">
    </div>
    <div class="detalle">
        <h1>{{ prod.titulo }}</h1>
        <p>{{ prod.detalle }}</p>
    </div>
</div-->

<h1>Menu</h1>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">INICIO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/compras">COMPRAS</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          NOSOTROS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/producto">PRODUCTOS</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--a routerLink="/">INICIO</a> -
<a routerLink="/compras">COMPRAS</a> -
<a routerLink="/producto">PRODUCTOS</a-->

<router-outlet></router-outlet>